.DS_Store
.ipynb_checkpoints/
__pycache__/
SEVA_ALLOCATION_OUTPUT/*

toy_data/extracted_skills_data.xlsx
toy_data/predictions_data.xlsx
toy_data/predictions_data_PROCESSED.xlsx
toy_data/summary_data.xlsx

experiments/graph_rag/data
experiments/graph_rag/neo4j