.DS_Store
.ipynb_checkpoints/
*/__pycache__/*
*/storage/*
SEVA_ALLOCATION_OUTPUT/*

toy_data/extracted_skills_data.xlsx
toy_data/predictions_data.xlsx
toy_data/predictions_data_PROCESSED.xlsx
toy_data/summary_data.xlsx

experiments/graph_rag/data
experiments/graph_rag/neo4j_data
experiments/graph_rag/neo4j
experiments/graph_rag/.env

mayank_experiment/.env
mayank_experiment/input/

llama_index_graph_rag/.env
llama_index_graph_rag/lib/
llama_index_graph_rag/pg_store_versions/
llama_index_graph_rag/vector_store_versions/
llama_index_graph_rag/configs/
llama_index_graph_rag/data/generated_training_data/
llama_index_graph_rag/results/